</head>
<body>
  <nav>
		<i class="fa fa-plane"></i>
    <a 
      href="/flights/new" class=<%= title === 'Add Flight' ? 'active' : '' %>
    >
      ADD FLIGHT
    </a>
    <a 
      href="/flights" class=<%= title === 'All Flights' ? 'active' : '' %>
    >
      ALL FLIGHTS
    </a>
  </nav>