form {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 16px;
  margin-bottom: 20px;
}

form * {
  padding: 8px;
  border-radius: 5px;
  font-size: 22px;
}

form label {
  font-weight: bold;
}

form > button {
  font-size: 18px;
  width: 160px;
  grid-column: 2 / 3;
  margin-top: 10px;
  padding: 8px;
  border: none;
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form > button:hover {
  background-color: #3e8e41;
}

select {
  font-size: 20px;
  border-radius: 5px;
  padding: 8px;
}



#name-input {
  width: 300px;
}
