<%- include('../partials/html-head') %>

<%- include('../partials/nav') %>

  <main>
    <h1>Flights</h1>
    <form id="new-form" action="/flights" method="POST">
      <label for="airline">Airline:</label>
      <select name="airline" id="airline">
        <option value="American">American</option>
        <option value="Southwest">Southwest</option>
        <option value="United">United</option>
      </select>
      <label for="airport">Airport:</label>
      <select name="airport" id="airport">
        <option value="AUS">AUS</option>
        <option value="DFW">DFW</option>
        <option value="DEN">DEN</option>
        <option value="LAX">LAX</option>
        <option value="SAN">SAN</option>
      </select>
      <label for="flightNo">Flight #:</label>
      <input type="number" name="flightNo" id="flightNo" min="10" max="9999">
      <label for="departure">Flight Date:</label>
      <input type="datetime-local" name="departs" id="departure">
      <button type="submit">Add Flight</button>
    </form>

  </main>


<%- include('../partials/footer') %>